canvas
  display: none

video
  width: 307px
  height: 250px
  background: rgba(255,255,255,0.5)
  border: 1px solid #ccc

.grayscale
  -webkit-filter: grayscale(1)

.sepia
  -webkit-filter: sepia(1)

.blur
  -webkit-filter: blur(3px)

.brightness
  -webkit-filter: brightness(0.5)

.contrast
  -webkit-filter: contrast(0.5)

.hue-rotate
  -webkit-filter: hue-rotate(60)

.hue-rotate2
  -webkit-filter: hue-rotate2(30)

.hue-rotate3
  -webkit-filter: hue-rotate3(90)

.saturate
  -webkit-filter: saturate(rgb(0, 0, 0), 0.3)

.invert
  -webkit-filter: invert(rgba(0, 255, 255, 0.4))
